@media screen and (min-width:900px){
    .main-container{
        width:50vw;
        margin:0px auto !important;
        border:1px solid transparent;
        border-radius:10px;
    }
}
.col>p{
    font-weight: 200;
    text-align: justify;
}
.col>h2{
    text-align: justify;
}
body{
    letter-spacing:1px;
    padding: 6.5% 0%;
    background-color: black !important;
    color:whitesmoke !important;
}